---
import Layout from "../../layouts/Layout.astro";
import { getEventById } from "../../js/backend.mjs";
const id = Astro.params.id;

const event = await getEventById(id);

if (!event) {
    console.error(`Event with id ${id} not found`);
    return Astro.redirect("/agenda");
}
---

<Layout>
    <h1>Agenda Item: {id}</h1>
    <h2>{event.title}</h2>
    <p>{event.date}</p>
    <p>{event.description}</p>
</Layout>
